.lkt-step-process {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lkt-step-process_content {
    display: flex;
    flex-direction: column;
    gap: var(--lkt-step-process--gap);
}

.lkt-step-process-buttons {
    gap: var(--lkt-step-process--buttons--gap);
    padding: var(--lkt-step-process--buttons--padding);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all linear .150s;
    background: #ffffff;
    z-index: 2;
}